{% extends 'base.html' %}

{% block body %}
    <h1>{{ name }}</h1>

    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div>
        {% for review in reviews %}
            <div>
            <h3>Review - Rated {{ review.rating }}</h3>
            <p>{{ review.review }}</p>

            </div>
        {% endfor %}
    </div>


{% endblock %}