{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid bg-primary text-white text-center mb-5">
        <div class="row py-3">
            <div class="col"></div>
            <div class="col-sm-8">
                <h1 class="display-1 pt-5">Ticketmaster</h1>
                <h1 class="fw-bold pb-5">Quickly find tickets around you</h1>
                <div class="input-group mb-3 px-5">
                    <form action="{% url 'event_search' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Search by artist, genre, or event" aria-label="Username" name="classification_name">
                        <input type="text" class="form-control" placeholder="Enter a city" aria-label="Server" name="city">
                        <input type="submit" value="Add">
                    </form>

                    <a class="btn btn-danger" href="{% url 'event_search' %}" role="button">Search</a>
                </div>
                <div class="alert alert-warning " role="alert" id="alert">

                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col"></div>
            <div class="col-md-8 p-1 py-3 " id="box">
                <div class="container justify-content-md-center">
                    <div class="text-secondary" id="results">
                        {% for card in cards %}
                            <div class="card mb-4 shadow-lg">
                                <div class="row g-0">
                                    <div class="col-md-5 py-5 p-1">
                                        <img src="{{ card.1 }}" class="img-fluid rounded-start" alt="event image">
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <div class="card-body">
                                            <h5 class="card-title fw-bold mt-4">{{ card.0 }}</h5>
                                            <h5 class="card-title ">{{ card.7 }}</h5>
                                            <p class="card-text">{{ card.5 }}<br> {{ card.3 }}, {{ card.4 }} </p>
                                            <a class="btn btn-primary align-items-end" href="{{ card.2 }}"
                                               role="button">Find Tickets</a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 text-end text-success ">
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <h5 class="card-title"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}

