<div class="card mb-3">
  <div class="card-body position-relative">
    <h5 class="card-title">
      <span>{{ review.author }}</span>
      <span id="display_rating_{{ review.id }}" class="ms-2">
        {% for star in star_range %}
          {% if star <= review.rating %}
            <i class="fas fa-star" style="color: #ffe234;"></i>
          {% else %}
            <i class="far fa-star" style="color: #ffe234;"></i>
          {% endif %}
        {% endfor %}
      </span>
    </h5>
    <div id="review_display_{{ review.id }}">
      <p class="card-text">{{ review.review }}</p>
    </div>
    <!-- Conditional buttons based on the page context -->
    <div style="position: absolute; top: 10px; right: 10px;">
      {% if page_context == 'band_page' %}
        <button class="btn btn-link text-secondary" onclick="showEditField({{ review.id }})" style="font-size: 1.2rem;"><i class="fas fa-edit"></i></button>
        <button class="btn btn-link text-danger" onclick="deleteReview({{ review.id }})" style="font-size: 1.2rem;"><i class="fas fa-trash-alt"></i></button>
      {% elif page_context == 'account_page' %}
        <a href="{% url 'band' review.band.id %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-arrow-right"></i></a>
      {% endif %}
    </div>
  </div>
</div>
